#main {
  display: block;
  margin: auto;
  margin-top: 10px;
  border: 1px solid lightgray;
  width: 300px;
  height: 600px;
  list-style: none;
  padding: 0;
}

#main>li {
  position: relative;
  width: 100%;
  display: block;

  border: 1px solid wheat;
}

.carousel-inner>.carousel-item>img {
  /* height: 200px; */
  width: 100%;

}

.delete {
  font-family: '楷体';
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid lightblue;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  visibility: hidden;
  cursor: pointer;
}

.delete.delFirst {
  /* background-color: black; */
  right: 40px;
}

#main>li:hover .delete {
  visibility: visible;
}